<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Article</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    body {
        background-color: #f8f9fa;
    }

    .article-form-container {
        margin-top: 50px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>

<div class="container">
  <div class="article-form-container">
    <h1 class="text-center mb-4">Создать новую статью</h1>
    <form th:action="@{/Article/Creating/Create}" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Название статьи:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Введите название статьи" required>
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">Текст статьи:</label>
        <textarea class="form-control" id="text" name="text" rows="5" placeholder="Введите текст статьи" required></textarea>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Создать</button>
      </div>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>